<div class="jumbotron">
  User Name: <input type="text" [(ngModel)]="userName">
  <button (click)="search()" type="button" name="button">Search</button>
  <div *ngIf="response">
    <img class="profileImg" src="{{response.avatar_url}}" alt="">
    <p>name: {{response.name}}</p>
    <p>UserName: {{response.login}}</p>
    <p *ngFor = "let num of reposObj">Repos: <a href="{{num.html_url}}" target="_blank">{{num.name}}</a></p>
    <hr>
    <p *ngFor = "let num of starObj">Sarred Repos: <a href="{{num.html_url}}" target="_blank">{{num.name}}</a></p>
  </div>
</div>
