/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
/* *{
  border: red dashed .2px;
} */
.jumbotron{
  background-color: white;
}
.btn-secondary{
  margin-left: 30px;
  margin-bottom: 10px;
  height: 40px;
}
